<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
   <div class="container">
        <div>
            <h1>
                Profile
            </h1>
        <a href="/facebook/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
    <div>
        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook </h3>
        <p>
            <% if(user && provider==='facebook'){ %>
                <p>
                    id:     <%= user.uid %>   <br>
                    token:  <%= user.token %> <br>
                    email:  <%= user.email %> <br>
                    name:   <%= user.name %>  <br>
                </h1>
              <% } else{ %>  
                <p>
                    Facebook Placeholder
                </h1>
             <% } %>
        </p>
    </div>

    <div>
        <h3 class="text-primary"><span class="fa fa-github"></span> Github </h3>
        <p>
            <% if(user && provider==='github'){ %>
                <p>
                    id <%= user.id %> <br>
                </h1>
              <% } else{ %>  
                <p>
                    GitHub Placeholder
                </h1>
             <% } %>
        </p>
    </div>
   </div>
</body>
</html>